<a href="https://colab.research.google.com/github/MarcinHrynkiewiczSudnik/Python3/blob/main/intro_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
s = pd.Series(data=[3,2,4,6])
s

0    3
1    2
2    4
3    6
dtype: int64

In [4]:
s = pd.Series(data=[3,2,4,6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3
b    2
c    4
d    6
Name: sample, dtype: int64

In [5]:
s = pd.Series(data=[3,2.,4,6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    2.0
c    4.0
d    6.0
Name: sample, dtype: float64

In [6]:
import numpy as np

In [7]:
s = pd.Series(data=[3,2.,np.nan,6], index=['a', 'b', 'c', 'd'], name='sample')
s

a    3.0
b    2.0
c    NaN
d    6.0
Name: sample, dtype: float64

In [8]:
s = pd.Series(data=[True, False, False])
s

0     True
1    False
2    False
dtype: bool

In [17]:
s = pd.Series(data=np.arange(10,20), index=pd.date_range(start='20220101', periods=10))
s

2022-01-01    10
2022-01-02    11
2022-01-03    12
2022-01-04    13
2022-01-05    14
2022-01-06    15
2022-01-07    16
2022-01-08    17
2022-01-09    18
2022-01-10    19
Freq: D, dtype: int64

In [12]:
s.index

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10'],
              dtype='datetime64[ns]', freq='D')

In [13]:
list(s.index)

[Timestamp('2022-01-01 00:00:00', freq='D'),
 Timestamp('2022-01-02 00:00:00', freq='D'),
 Timestamp('2022-01-03 00:00:00', freq='D'),
 Timestamp('2022-01-04 00:00:00', freq='D'),
 Timestamp('2022-01-05 00:00:00', freq='D'),
 Timestamp('2022-01-06 00:00:00', freq='D'),
 Timestamp('2022-01-07 00:00:00', freq='D'),
 Timestamp('2022-01-08 00:00:00', freq='D'),
 Timestamp('2022-01-09 00:00:00', freq='D'),
 Timestamp('2022-01-10 00:00:00', freq='D')]

In [18]:
s.dtypes

dtype('int64')

In [19]:
s.shape

(10,)

In [20]:
s = pd.Series(data=['python', 'java', 'sql'], name='languages')
s

0    python
1      java
2       sql
Name: languages, dtype: object

In [15]:
s.values

array(['python', 'java', 'sql'], dtype=object)

In [16]:
s.dtypes

dtype('O')

In [21]:
s.shape

(3,)

In [34]:
price = pd.Series(data={'Apple' : 200, 'CD Projekt' : 60, 'Amazon' : 1900, 'KGHM' : np.nan})
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [23]:
price['CD Projekt']

60

In [24]:
price[1]

60

In [35]:
price.count()

3

In [36]:
price.value_counts(dropna=False)

200.0     1
60.0      1
1900.0    1
NaN       1
dtype: int64

In [27]:
price.sum()

2160

In [28]:
price.max()

1900

In [29]:
price.min()

60

In [30]:
price.mean()

720.0

In [31]:
price.median()

200.0

In [32]:
price.std()

1024.3046421841502

In [37]:
price.describe()

count       3.000000
mean      720.000000
std      1024.304642
min        60.000000
25%       130.000000
50%       200.000000
75%      1050.000000
max      1900.000000
dtype: float64

In [38]:
price.nlargest(1)

Amazon    1900.0
dtype: float64

In [39]:
price.nlargest(2)

Amazon    1900.0
Apple      200.0
dtype: float64

In [40]:
price.nsmallest(1)

CD Projekt    60.0
dtype: float64

In [41]:
price.rank()

Apple         2.0
CD Projekt    1.0
Amazon        3.0
KGHM          NaN
dtype: float64

In [42]:
price.sort_values()

CD Projekt      60.0
Apple          200.0
Amazon        1900.0
KGHM             NaN
dtype: float64

In [43]:
price.sort_values(ascending=False)

Amazon        1900.0
Apple          200.0
CD Projekt      60.0
KGHM             NaN
dtype: float64

In [44]:
price_pln = price.apply(lambda x: x * 4.6)
price_pln

Apple          920.0
CD Projekt     276.0
Amazon        8740.0
KGHM             NaN
dtype: float64

In [45]:
price

Apple          200.0
CD Projekt      60.0
Amazon        1900.0
KGHM             NaN
dtype: float64

pd.DataFrame

In [47]:
df = pd.DataFrame(data=[12, 12 , 32, 44])
df

    0
0  12
1  12
2  32
3  44

In [48]:
df = pd.DataFrame(data=[12, 12 , 32], index=['first', 'second', 'third'], columns=['col_1'])
df

        col_1
first      12
second     12
third      32

In [51]:
df = pd.DataFrame(data={'WIG20' : ['PKN ORLEN', 'PKO BP'],
                        'mWIG40' : ['Amica', 'PlayWay']})
df

       WIG20   mWIG40
0  PKN ORLEN    Amica
1     PKO BP  PlayWay

In [52]:
df.columns

Index(['WIG20', 'mWIG40'], dtype='object')

In [53]:
df.index

RangeIndex(start=0, stop=2, step=1)

In [54]:
df.values

array([['PKN ORLEN', 'Amica'],
       ['PKO BP', 'PlayWay']], dtype=object)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   WIG20   2 non-null      object
 1   mWIG40  2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [56]:
df.describe()

            WIG20 mWIG40
count           2      2
unique          2      2
top     PKN ORLEN  Amica
freq            1      1

In [57]:
df.describe().T

       count unique        top freq
WIG20      2      2  PKN ORLEN    1
mWIG40     2      2      Amica    1

In [58]:
df = pd.DataFrame(data=[[10, 12 , 13], [23, 12, 10]], index=['first', 'second'], columns=['col_1', 'col_2', 'col_3'])
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, first to second
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   2 non-null      int64
 1   col_2   2 non-null      int64
 2   col_3   2 non-null      int64
dtypes: int64(3)
memory usage: 172.0+ bytes

In [60]:
df.describe()

           col_1  col_2     col_3
count   2.000000    2.0   2.00000
mean   16.500000   12.0  11.50000
std     9.192388    0.0   2.12132
min    10.000000   12.0  10.00000
25%    13.250000   12.0  10.75000
50%    16.500000   12.0  11.50000
75%    19.750000   12.0  12.25000
max    23.000000   12.0  13.00000

In [61]:
df.describe().T

       count  mean       std   min    25%   50%    75%   max
col_1    2.0  16.5  9.192388  10.0  13.25  16.5  19.75  23.0
col_2    2.0  12.0  0.000000  12.0  12.00  12.0  12.00  12.0
col_3    2.0  11.5  2.121320  10.0  10.75  11.5  12.25  13.0

In [62]:
df

        col_1  col_2  col_3
first      10     12     13
second     23     12     10

In [ ]:
df[]

In [67]:
new_df = pd.read_csv('dane.csv')
new_df

         Data  Rano  Południe  Wieczór
0  2022-07-30   120       140      115
1  2022-07-31   107       135      128
2  2022-08-01   102       119      125

In [68]:
new_df.describe().T

          count        mean        std    min    25%    50%    75%    max
Rano        3.0  109.666667   9.291573  102.0  104.5  107.0  113.5  120.0
Południe    3.0  131.333333  10.969655  119.0  127.0  135.0  137.5  140.0
Wieczór     3.0  122.666667   6.806859  115.0  120.0  125.0  126.5  128.0

In [70]:
ranek = new_df[['Rano']]

In [72]:
ranek.describe().T

      count        mean       std    min    25%    50%    75%    max
Rano    3.0  109.666667  9.291573  102.0  104.5  107.0  113.5  120.0